
@{
    ViewBag.Title = "Appoinment List";
}

<script id="action-template" type="text/x-kendo-template">
    #if(status=="entry"){#
    <a style="font-size:11px; text-decoration: none;" href="/Patient/Edit?patientId=#=patient_id#" class="k-button k-grid-even">Edit</a>
    <a style="font-size:11px; text-decoration: none;" href="/Patient/Appoinment?patientId=#=patient_id#" class="k-button k-grid-even">Appointment</a>
    #}else if(status=="appoinmented"){#
    <a style="font-size:11px; text-decoration: none;" href="/Presscription/NewPresscription?patientId=#=patient_id#&&appoinmentId=#=appoinment_id#" class="k-button k-grid-even">Prescription</a>
    #}else if(status=="presscribed" && need_admission=="yes"){#
    <a style="font-size:11px; text-decoration: none;" href="/Presscription/NewPresscription?patientId=#=patient_id#&&appoinmentId=#=appoinment_id#" class="k-button k-grid-even">Admission</a>

    #}else{#
    <a style="font-size:11px; text-decoration: none;" href="/Presscription/NewPresscription?patientId=#=patient_id#&&appoinmentId=#=appoinment_id#" class="k-button k-grid-even">DisCharge</a>

    #}#
</script>
<div class="panel panel-success">
    <div class="panel-heading">
        &nbsp;&nbsp;
        <h3>Admission List</h3>
    </div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllAdmission", "Admission")",
                    type: "GET"
                }
            },
            //    code: "Ok",
            autoSync: false,
            schema: {

                model: {
                    id: "admission_id",
                    fields: {
                        admission_id: { editable: false, nullable: true },
                        admission_date: { type: "string" },
                        patient_id: { type: "string" },
                        patient_name: { type: "string" },
                        reffered_by: { type: "string" },
                        doctor_name: { type: "string" },
                        ward_id: { type: "string" },
                        ward_no: { type: "string" },
                        ward_name: { type: "string" },
                        room_id: { type: "string" },
                        room_no: { type: "string" },
                        bed_id: { type: "string" },
                        department_id: { type: "string" },
                        department_name: { type: "string" },
                        status: { type: "string" }

                    }

                }
            }

        });
        jQuery("#grid").kendoGrid({
            dataSource: dataSource,
            filterable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [10, 20, 50]
            },
            sortable: true,
            groupable: true,
            resizable: true,
            columns: [
                { field: "patient_id", title: "ID", width: "50px" },
                { field: "full_name", title: "Patient Name", id: "patient_id", width: "150px" },
                { field: "doctor_name", title: "Reffered By", id: "patient_id", width: "150px" },
                { field: "admission_date", title: "Admission Date", width: "80px" },
                { field: "department_name", title: "Department", width: "150px" },
                { field: "ward_no", title: "Ward No", width: "150px" },
                { field: "room_no", title: "Room No", width: "150px" },
                { field: "status", title: "Status", width: "150px" },
            {
                title: "Action", width: "250px",
                template: kendo.template($("#action-template").html())

            }]
        });


    });


</script>



<div id="kWindow"></div>

