
@{
    ViewBag.Title = "TestType";
}

<div class="panel panel-success">
    <div class="panel-heading">&nbsp;&nbsp;<h3>Test Type Entry</h3></div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllTestType", "TestType")",
                    type: "GET"
                },
                update: {
                    url: "@UrlConfig.Action("Put", "TestType")",
                    type: "PUT",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                destroy: {
                    url: "@UrlConfig.Action("Delete", "TestType")",
                    type: "DELETE"
                },
                create: {
                    url: "@UrlConfig.Action("Post", "TestType")",
                    type: "POST",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                    }
                }
            },
            //    code: "Ok",
            autoSync: false,
            schema: {
                errors: function (e) {
                    console.log(e.errors);
                    //alert(e.error);
                    if (e.output === "error") {
                        console.log(e.output);
                        KendoWindowFunction(e.msg, "error", "");
                        this.cancelChanges();
                    }
                },

                model: {
                    id: "test_type_id",
                    fields: {
                        test_type_id: { editable: false, nullable: true },
                        test_type_name: { type: "string", validation: { required: true } },
                        test_cost: { type: "number", validation: { required: true } }

                    }

                }
            }

        });
        jQuery("#grid").kendoGrid({
            dataSource: dataSource,
            filterable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [10, 20, 50]
            },
            sortable: true,
            groupable: true,
            resizable: true,

            toolbar: [{ name: "create", text: "Add New Test Type" }],
            columns: [
                { field: "test_type_name", title: "Test Type Name", id: "test_type_id", width: "150px" },
                { field: "test_cost", title: "Test Cost", width: "150px" },
                { command: ["edit", "destroy"], title: "Action", width: "230px" }],
            editable: "inline"
        });




    });


</script>



<div id="kWindow"></div>

