
@{
    ViewBag.Title = "Payment List";
}
<script id="action-template" type="text/x-kendo-template">
    <a style="font-size:11px; text-decoration: none;" href="/payment/add?patientId=#=patient_id#&&admissionId=#=admission_id#" class="k-button k-grid-even">Payment</a>
</script>
<div class="panel panel-success">
    <div class="panel-heading">
        &nbsp;&nbsp;
        <h3>Admission List</h3>
    </div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>
<script type="text/javascript">
    var hospital_id = '@ViewBag.hospital_id';
    jQuery(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllPayment", "Payment")?hospital_id=" + hospital_id,
                    type: "GET"
                }
            },
            //    code: "Ok",
            autoSync: false,
            schema: {

                model: {
                    id: "admission_id",
                    fields: {
                        admission_id: { editable: false, nullable: true },
                        admission_date: { type: "string" },
                        patient_id: { type: "string" },
                        patient_name: { type: "string" },
                        department_id: { type: "string" },
                        department_name: { type: "string" },
                        payment_status: { type: "string" }

                    }

                }
            }

        });
        jQuery("#grid").kendoGrid({
            dataSource: dataSource,
            filterable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [10, 20, 50]
            },
            sortable: true,
            groupable: true,
            resizable: true,
            columns: [
            { field: "patient_id", title: "ID", width: "50px" },
            { field: "patient_name", title: "Patient Name", id: "patient_id", width: "150px" },
            { field: "admission_id", title: "Adm. ID", width: "50px" },
            { field: "admission_date", title: "Adm. Date", width: "80px" },
            { field: "department_name", title: "Department", width: "150px" },
            {
                title: "Action", width: "150px",
                template: kendo.template($("#action-template").html())

            }]
        });


    });


</script>


