
@{
    ViewBag.Title = "DoctorPerosnalRoster";
}
<style>
    #titleSchedule {
        padding: 0.2em 0.5em;
        color: green;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
    }

    .red {
        background-color: #ffc0cb;
        font-weight: bolder;
        color: #f0ffff;
    }

    .green {
        background-color: #90ee90;
        font-weight: bolder;
    }

    .brown {
        background-color: burlywood;
    }

    .latest {
        background-color: #90caf9;
        font-weight: bolder;
    }

    .today {
        background-color: #90ee90;
    }

    .others {
        background-color: #ce93d8;
    }
</style>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3>Personal Roster</h3>
    </div>
    <div class="panel-body">
        <hr />
        <fieldset id="titleOfRoster"></fieldset>
        <div id="grid">

        </div>
    </div>
</div>

<script type="text/javascript">
    var departmentId = 0;
    var doctorId = 0;
    var employeeId = '@ViewBag.employee_id';
    $(function() {
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("GetEmployeeDoctorById", "Employee")",
            data: {
                employeeId: employeeId,
            },
            dataType: "json",
            success: function (data) {
                console.log(data);
                departmentId = data.department_id;
                doctorId = data.doctor_id;
                console.log(departmentId);
                document.getElementById("titleOfRoster").innerHTML = "<legend id='titleSchedule'>Roster of Dr. " + data.employee_name + " Deparment of " + data.department_name + "</legend>";
                LoadGrid();
            }

        });
       
    });
    
    function LoadGrid() {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllSchedularBydeparmentDoctorId", "DoctorSchedular")",
                type: "GET",
                data: {
                    departmentId: departmentId,
                    doctorId: doctorId

                }
            }
        },
            //    code: "Ok",
            autoSync: false,
            schema: {
            errors: function (e) {
                console.log(e.errors);
                //alert(e.error);
                if (e.output === "error") {
                    console.log(e.output);
                    KendoWindowFunction(e.msg, "error", "");
                    this.cancelChanges();
                }
            },

            model: {
                        id: "doctor_schdule_id",
                        fields: {
                    doctor_schdule_id: { editable: false, nullable: true },
                    shif_type_id: { type: "number", editable: false },
                    shift_type_name: { type: "string", editable: false },
                    department_name: { type: "string" },
                    doctor_id: { type: "number" },
                    department_id: { type: "number" },
                    employee_name: { type: "string" },
                    sat: { type: "string" },
                    sun: { type: "string" },
                    mon: { type: "string" },
                    tues: { type: "string" },
                    wed: { type: "string" },
                    thurs: { type: "string" },
                    fri: { type: "string" }

                        }

            }
            }

    });
    jQuery("#grid").kendoGrid({
        dataSource: dataSource,
        dataBound: onDataBound,
        columns: [
            { field: "shif_type_id", title: "Shift", template: "#= shift_type_name#", width: "80px" },
            { field: "sat", title: "Sat",  width: "80px"
            },
            {
                field: "sun", title: "Sun",  width: "80px"
            },
            {
                field: "mon", title: "Mon",  width: "80px"
            },
            {
                field: "tues", title: "Tues", width: "80px"
            },
            //{
            //    field: "tues", title: "Tues", template: "#if(sat=='Yes'){#" +
            //          "<div><span style='background-color:green'>#= sat#</span></div>" +
            //          "#}else{#" +
            //          "<span style='background-color:red'>#= sat#</span>" +
            //          "#}#", width: "80px"
            //},
            {
                field: "wed", title: "Wed",  width: "80px"
            },
            {
                field: "thurs", title: "Thurs",  width: "80px"
            },
            {
                field: "fri", title: "Fri",  width: "80px"
            },
        ],


    });

    }
    var onDataBound = function () {
        $('td').each(function () { if ($(this).text() == 'Yes' || $(this).text() == 'yes') { $(this).addClass('green') } });
        $('td').each(function () { if ($(this).text() == 'no' || $(this).text() == 'No') { $(this).addClass('red') } });

    };

</script>


