
@{
    ViewBag.Title = "DoctorDashboard";
}


<div class="row " hidden id="jPopup" style="text-align: center; padding-bottom: 20px; color: #7EA700; font-weight: 800;">
    <h3 id="welcomeNote"></h3>
</div>
<div style="height: 20px;"></div>
<div class="clearfix"></div>
<div class="panel panel-success">
    <div class="panel-heading">
        &nbsp;&nbsp;
        <h3>Appoinment List For @DateTime.Now</h3>
    </div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>
<script type="text/javascript">
    var status = "forPresscription";
    var employeeId = '@ViewBag.employee_id';
    var today = createDate();
    function createDate() {
        var currentDate = new Date();
        var day = currentDate.getDate();

        var month = currentDate.getMonth() + 1;

        var year = currentDate.getFullYear();

        // var date = (month + "/" + day + "/" + year);
        var date = (year + "/" + month + "/" + day);
        //var date = (day + "/" + month + "/" + year);
        console.log(date);
        return date;
    }
    jQuery(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("GetEmployeeDoctorById", "Employee")",
            data: {
            employeeId: employeeId,
            },
        dataType: "json",
        success: function (data) {
            console.log(data);
            var note = $("#welcomeNote");
            note.html('');
            var letter = "Welcome Dr. " + data.employee_name + " Department of " + data.department_name + ".";
            note.html(letter);
            $('#jPopup').show(1200);
            LoadGrid();
        }

        });
       
    });
    function LoadGrid() {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllPresscriptionByDoctorID", "Presscription")",
                    type: "GET",
                data: {
                    employeeId: employeeId,
                    today: today
                }
            }
        },
           //    code: "Ok",
            autoSync: false,
            schema: {
            model: {
                id: "appoinment_id",
              fields: {
                  appoinment_id: { type: "string" },
                    full_name: { type: "string" },
                    gender: { type: "string" },
                    dob: { type: "string" },
                    blood_group: { type: "string" },
                    doctor_id: { type: "string" },
                    employee_name: { type: "string" },
                    department_id: { type: "string" },
                    department_name: { type: "string" },
                    appoinment_date: { type: "date" },
                    patient_id: { type: "string" },
                    appoinment_serial:{type:"string"}
                        }

            }
            }

    });
    jQuery("#grid").kendoGrid({
        dataSource: dataSource,
        filterable: true,
        pageable: {
            refresh: true,
            input: true,
            pageSize: 20,
            numeric: false,
            pageSizes: [10, 20, 50]
        },
        
        dataBound: function(e) {
            var dataList = $("#grid").data("kendoGrid");
            
            if (dataList ==null) {
                swal("success !!!", "Congratulation!! You have done your job for today..", "success");
            } else {
                var gridData = this._data;
                var tableRows = $(this.table).find("tr");
                var count = 0;
                tableRows.each(function (index) {
                    var row = $(this);
                    var Item = gridData[index];
                    count++;
                });
                if (count > 0) {
                    swal("Alert !!!", "You have more " + count + " Appoinments..", "warning");
                }
            }
        },
        sortable: true,
        groupable: true,
        resizable: true,
        columns: [
        { field: "appoinment_serial", title: "Serial", width: "80px" },
        { field: "patient_id", title: "ID", width: "50px" },
        { field: "full_name", title: "Patient Name", width: "100px" },
        { field: "gender", title: "Gender", width: "80px" },
        { field: "dob", title: "DOB", width: "100px" },
        { field: "appoinment_date", title: "Appo.Date", width: "150px", template: "#= kendo.toString(kendo.parseDate(appoinment_date, 'yyyy-MM-dd'), 'dd/MM/yyyy') #" },
        { field: "blood_group", title: "Blood Group", width: "80px" },
        { field: "department_name", title: "Department", width: "150px" },
        { field: "employee_name", title: "Doctor", width: "100px" },
        {
            title: "Action", width: "80px",
            template: kendo.template($("#action-template").html())

        }]
    });

    }

    function OndataBound(e) {
        
    }
</script>

<script id="action-template" type="text/x-kendo-template">
    #if(status=="appoinmented"){#
    <a style="font-size:11px; text-decoration: none;" href="/Presscription/NewPresscription?patientId=#=patient_id#&&appoinmentId=#=appoinment_id#" class="k-button k-grid-even">Prescription</a>
    #}#
</script>