
@{
    ViewBag.Title = "Patient";
}
<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
            Multi-page grid with automatic page breaking
        </div>
        <div class="watermark">JMJ Production</div>
        <div class="footer">
            Page #: pageNum # of #: totalPages #
        </div>
    </div>
</script>
<div class="panel panel-success">
    <div class="panel-heading">
        &nbsp;&nbsp;
        <h3>Patient Report</h3>
    </div>

    <div class="panel-body">
        <div id="grid"></div>
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-12">
            <div class="col-md-2">
                <label for="totalPatient">Total Patient</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="k-textbox" name="totalPatient" id="totalPatient" style="width: 100%;"readonly="readonly">
            </div>
            <div class="col-md-2">
                <label for="appoPatient">Total Appoinmnet Patient</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="k-textbox" name="appoPatient" id="appoPatient" style="width: 100%;"readonly="readonly">
            </div>

        </div>
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-12">
            <div class="col-md-2">
                <label for="admittedPatient">Total Admitted Patient</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="k-textbox" name="admittedPatient" id="admittedPatient" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-2">
                <label for="deathPatient">Total Death Patient</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="k-textbox" name="deathPatient" id="deathPatient" style="width: 100%;" readonly="readonly">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllPatient", "Patient")",
                    type: "GET"
                },
                success: function (e) {}
            },
            //    code: "Ok",
            autoSync: false,
            schema: {
                model: {
                    id: "patient_id",
                    fields: {
                        patient_id: { editable: false, nullable: true },
                        full_name: { type: "string" },
                        gender: { type: "string" },
                        dob: { type: "string" },
                        blood_group: { type: "string" },
                        status: { type: "string" }

                    }

                }
            }

        });
        jQuery("#grid").kendoGrid({
            dataSource: dataSource,
            dataBound: OndataBound,
            toolbar: ["pdf", "excel"],
            excel: {
                fileName: "PatientReport.xlsx",
                filterable: true
            },
            pdf: {
                allPages: true,
                avoidLinks: true,
                paperSize: "A4",
                margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                landscape: true,
                repeatHeaders: true,
                template: $("#page-template").html(),
                scale: 0.8
            },
           
            height: 550,
            sortable: true,
           
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
                { field: "patient_id", title: "ID", width: "50px" },
                { field: "full_name", title: "Patient Name", id: "patient_id", width: "150px" },
                { field: "gender", title: "Gender", width: "80px" },
                { field: "dob", title: "DOB", width: "150px" },
                { field: "blood_group", title: "Blood Group", width: "150px" },
                { field: "status", title: "Status", width: "150px" }
           

            ]
        });


    });
    function OndataBound() {
            var gridData = this._data;
            var tableRows = $(this.table).find("tr");
            var entrycount = 0;
            var admitcount = 0;
            var appocount = 0;
            var deathcount = 0;
        var totalCount = 0;
            tableRows.each(function (index) {
                var row = $(this);
                var Item = gridData[index];
                if (Item.status == "entry") {
                    entrycount++;
                } else if (Item.status == "appoinmented") {
                    appocount++;
                } else if (Item.status == "admitted") {
                    admitcount++;
                } else if (Item.status == "Death") {
                    deathcount++;
                }
                totalCount++;
            });
            console.log(deathcount);
            $("#totalPatient").val(totalCount);
            $("#appoPatient").val(appocount);
            $("#admittedPatient").val(admitcount);
            $("#deathPatient").val(deathcount);

    }
    

</script>

<style>
    /* Page Template for the exported PDF */
    .page-template {
        font-family: "DejaVu Sans", "Arial", sans-serif;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            color: #888;
        }

        .page-template .footer {
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
            border-top: 1px solid #888;
            text-align: center;
            color: #888;
        }

        .page-template .watermark {
            font-weight: bold;
            font-size: 400%;
            text-align: center;
            margin-top: 30%;
            color: #aaaaaa;
            opacity: 0.1;
            transform: rotate(-35deg) scale(1.7, 1.5);
        }
</style>